.profile-background {
    background-image: url('profile_background.png');
    background-size: cover;
    background-position: center 20px; 
    background-repeat: no-repeat;
    height: 250vh;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    padding-left: 140px; 
    padding-top: 60vh;
  }
  
  .avatar-container {
    position: relative;
    display: inline-block;
  }
  
  .avatar-container .MuiAvatar-root {
    width: 160px; 
    height: 160px; 
  }
  
  .avatar-container:hover .edit-icon {
    display: block;
  }
  
  .edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
  }